{% extends 'base/base.html' %}
{% block navbar%}
{% endblock %}

<style type="text/css">
body {
        background-image:url('static/images/maxresdefault.jpg');
 }
</style>

{% block content %}

<div class="PasswordResetForm">
	<div class="row">
		<div class="col-md-4 offser-md-4">
			<p>Ingrese su correo electronico y le enviaremos las intrucciones para recuperar su contraseña.</p>

			<form method="post">
				{% csrf_token %}

				{% if form.non_field_errors %}
						<div class="form-group">
							{{ form.non_field_errors}}
						</div>
				{% endif %}
			{% for field in form.visible_fields %}
				<div class="form-group">
					{{ field.label_tag }}
					{{ field }}
					{{ field.errors }}
					<div class="helpText">{{ field.help_text|safe }}</div>
				</div>
				{% endfor %}
					<button type="submit" class="btn btn-success">Recuperar Contraseña</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
