{% extends 'base/base.html' %}
{% block title %}
	Listado de Discipulados
{% endblock %}

{% block content %}

<!--boton buscar ---->
<div class = "busqueda">
	<form class = "navbar-search pull-left" method
	="POST" action="/discipulados/buscar/">{% csrf_token %}

		<input type="text" name="buscalo" class="search-query"
		placeholder="Buscar">
		<div class="btn-group">
				<button class="btn btn-primary" type
				="sumbit"><i class="icon-search"></i
				></button>
		</div>
	</form>
</div>
<!--fin boton buscar ---->

<table class="table table-bordered">
	<thead>
		<tr>
			<td>Descripcion discipulado</td>
		</tr>
	</thead>
	<tbody>
		{% if object_list %}
		{% for p in object_list %}
		<tr>
			<td>{{ p.nombre_material_discipulado }}</td>
			<td>{{ p.id_discipulador }}</td>
			<td>{{ p.id_persona }}</td>
			<td>{{ p.fecha_fin }}</td><
			<td>
				<a class="btn btn-primary" href="{% url 'discipulado:discipulado_editar' p.id%}">Editar</a>
				<a class="btn btn-danger" href="{% url 'discipulado:discipulado_eliminar' p.id%}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}

		{% else %}
		<h1>No hay Discipulados Registrados</h1>
		{% endif %}
	</tbody>
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>

		{% endif %}
  </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>

    	{% endif %}
  </li>
</ul>
{% endblock%}
