{% extends 'base/base.html' %}
{% block title %}
	Listado de Personas
{% endblock %}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>Nombre</td>
			<td>Apellido</td>
			<td>Fecha de Nacimiento</td>
			<td>Sexo</td>
			<td>Celular</td>
			<td>Direccion</td>
			<td>Matrimonio</td>
			{%block titulobaja%}
			{%endblock%}
			<td>Opciones</td>
		</tr>
	</thead>
	<tbody>
		{% if personas %}
		{% for persona in personas %}
		<tr>
			<td>{{ persona.nombre }}</td>
			<td>{{ persona.apellido_persona }}</td>
			<td>{{ persona.fecha_nacimiento }}</td>
			<td>{{ persona.sexo }}</td>
			<td>{{ persona.celular }}</td>
      <td>{{ persona.direccion }}</td>
			<td>{{ persona.id_matrimonio.apellido_matrimonio }}</td>
			{%block campobaja%}
			{%endblock%}
			<td>
			  {% if persona.fecha_baja_persona = null %}
					<a class="btn btn-primary" href="{% url 'persona:persona_editar' persona.id%}">Editar</a>
					<a class="btn btn-danger" href="{% url 'persona:persona_eliminar' persona.id%}">Baja Usuario</a>
				{%endif%}
				{%block prueba%}
				{%endblock%}
			</td>
		</tr>
		{% endfor %}

		{% else %}
		<h1>No hay registros de persona</h1>
		{% endif %}
	</tbody>
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>

		{% endif %}
  </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>

    	{% endif %}
  </li>
</ul>
{%block botonfinal%}
<a class="btn btn-danger" href="{% url 'persona:persona_listar_baja' %}">Mostrar usuarios dados de baja</a>
{%endblock%}
{% endblock%}
