{% extends 'base/base.html' %}

{% block content %}

<!--boton buscar ---->
<div class = "busqueda">
	<form class = "navbar-search pull-left" method
	="POST" action="/ministerio/buscar/">{% csrf_token %}

		<input type="text" name="buscalo" class="search-query"
		placeholder="Buscar">
		<div class="btn-group">
				<button class="btn btn-primary" type
				="sumbit"><i class="icon-search"></i
				></button>
		</div>
	</form>
</div>
<!--fin boton buscar ---->

<table class="table table-bordered">
	<thead>
		<tr>
			<td>nombre ministerio</td>
			<td>dia actividad</td>
			<td>lugar actividad</td>
			<td>hora actividad</td>
		</tr>
	</thead>
	<tbody>
		{% if min %}
			{% for min in ministerios %}
				<tr>
					<td>{{ min.nombre_ministerio }}</td>
					<td>{{ min.dia_actividad }}</td>
					<td>{{ min.lugar_actividad }}</td>
					<td>{{ min.hora_actividad }}</td>
				</tr>
      {% endfor %}
      {% else %}
  	<h1>No hay registros de ministerios</h1>    <!-- ver esto ---->
  {% endif %}
  	</tbody>
  </table>
  <ul class="pager">
  	<li>
  		{% if page_obj.has_previous %}
         	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>

  		{% endif %}
    </li>
  	<li>
  		{% if page_obj.has_next %}
       	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>

      	{% endif %}
    </li>
  </ul>

  {% endblock%}
