{% extends 'base/base.html' %}
{% block title %}
	Listado de Ministerios
{% endblock %}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>Nombre de Ministerio</td>
			<td>Dia de la actividad</td>
			<td>Lugar de la actividad</td>
			<td>Hora de la actividad</td>
			{%block titulobaja%}
			{%endblock%}
			<td>Opciones</td>
		</tr>
	</thead>
	<tbody>
		{% if ministerios %}
		{% for ministerio in ministerios %}
		<tr>
			<td>{{ ministerio.nombre_ministerio }}</td>
			<td>{{ ministerio.dia_actividad }}</td>
			<td>{{ ministerio.lugar_actividad }}</td>
			<td>{{ ministerio.hora_actividad }}</td>
			{%block campobajaministerio%}
			{%endblock%}
			<td>
				{% if ministerio.fecha_baja_ministerio = null %}
					<a class="btn btn-primary" href="{% url 'ministerio:ministerio_editar' ministerio.id%}">Editar</a>
					<a class="btn btn-danger" href="{% url 'ministerio:ministerio_eliminar' ministerio.id%}">Baja Usuario</a>
				{%endif%}
				{%block pruebaministerio%}
				{%endblock%}
			</td>
		</tr>
		{% endfor %}

		{% else %}
		<h1>No hay Ministerios Registrados</h1>
		{% endif %}
	</tbody>
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>

		{% endif %}
  </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>

    	{% endif %}
  </li>
</ul>
{% block botonfinalministerio %}
<a class="btn btn-danger" href="{% url 'ministerio:ministerio_listar_baja' %}">Mostrar usuarios dados de baja</a>
{%endblock%}
{% endblock%}
