{% extends 'base/base.html' %}
{% block title %}
	Listado de Celulas
{% endblock %}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			 <!-- <td>Nombre del evento</td> la celula no tiene un nombre identificatorio-->
			<td>Dia de la celula</td>
			<td>Direccion de la celula</td>
			<td>Hora de la celula</td>
		</tr>
	</thead>
	<tbody>
		{% if object_list %}
		{% for p in object_list %}
		<tr>
			<td>{{ p.dia_celula }}</td>
			<td>{{ p.direccion_celula }}</td>
			<td>{{ p.hora_celula }}</td>
			<td>
				<a class="btn btn-primary" href="{% url 'celula:celula_editar' p.id%}">Editar</a>
				<a class="btn btn-danger" href="{% url 'celula:celula_eliminar' p.id%}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}

		{% else %}
		<h1>No hay Celulas Registradas</h1>
		{% endif %}
	</tbody>
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>

		{% endif %}
  </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>

    	{% endif %}
  </li>
</ul>
{% endblock%}
