{% extends 'base/base.html' %}
{% block title %}
	Listado de Celulas
{% endblock %}

{% block content %}

<!--boton buscar ---->
<div class = "busqueda">
	<form class = "navbar-search pull-left" method
	="POST" action="/celula/buscar/">{% csrf_token %}

		<input type="text" name="buscalo" class="search-query"
		placeholder="Buscar">
		<div class="btn-group">
				<button class="btn btn-primary" type
				="sumbit"><i class="icon-search"></i
				></button>
		</div>
	</form>
</div>
<!--fin boton buscar ---->

<table class="table table-bordered">
	<thead> <td>Datos de la célula</td>
		<tr>
			<td>Dia</td>
			<td>Direccion</td>
			<td>Horario</td>
			<td>Encargado</td>
		</tr>
	</thead>
	<tbody>
		{% if object_list %}
		{% for p in object_list %}
		<tr>
			<td>{{ p.dia_celula }}</td>
			<td>{{ p.direccion_celula }}</td>
			<td>{{ p.hora_celula }}</td>
			<td>{{ p.encargado_celula }}</td>
			<td>
				<a class="btn btn-primary" href="{% url 'celula:celula_editar' p.id%}">Editar</a>
				<a class="btn btn-danger" href="{% url 'celula:celula_eliminar' p.id%}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}

		{% else %}
		<h1>No hay Celulas Registradas</h1>
		{% endif %}
	</tbody>
</table>

<!--tabla de miembros ---->
<table class="table table-bordered">
	<thead><td>Miembros de la célula</td>
		<tr>
			<td>Nombre</td>
			<td>Rol</td>
		</tr>
	</thead>
	<tbody>
		{% if object_list %}
		{% for p in object_list %}
		<tr>
			<td>{{ p.miembro }}</td>
			<!--<td>{{ p.rol }}</td>-->
			<td>
				<a class="btn btn-danger" href="{% url 'celula:celula_eliminar' p.id%}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}

		{% else %}
		<h1>No hay Miembros Registrados</h1>
		{% endif %}
	</tbody>
</table>
<!--fin tabla de miembros ---->

<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>

		{% endif %}
  </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>

    	{% endif %}
  </li>
</ul>
{% endblock%}
